My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "f930bd36-dd3b-4ee8-b7d5-62695a09964d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Summarize and give probable questions to ask. as an interviewer.\n\nAlso whatever text you generate, make it readable. ",
        "options": {
          "systemMessage": "=> You are an AI assistant helping screen candidates for a job. You will be given a candidate's resume and the job description. Your task is to:\n>\n> 1. Summarize the key points of the candidate's resume, including their education, work experience, projects, and skills.\n> 2. Evaluate the candidate's fit for the job role based on the job description.\n> 3. Generate **5–7 targeted interview questions** based on the candidate’s resume and how it relates to the job description.\n>\n> Keep the tone professional and concise. Use bullet points or numbered lists for clarity where appropriate. If something is missing or unclear in the resume, note it briefly in the summary.\n\nResume : {{ $json.text }}\nJob description : {{ $('Extract from File1').item.json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "d366ce02-2758-4984-a01a-b142ab9afbdd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        224
      ],
      "id": "a0c02a06-be44-46ee-a682-dc74234fc069",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ba3zXqGeXa12x8UW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('OneDrive : Fetching Resume Folder').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "2e9d1f40-e2f0-4142-9ceb-ceee8f1a1ebf",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        128
      ],
      "id": "b75b92ea-48b6-4401-a44b-d7e10bab0b76",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        128
      ],
      "id": "a20f203d-c832-4c88-9247-308486679838",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -656,
        128
      ],
      "id": "955505ab-cf0b-4b64-8630-0b4c9c6a29ce",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "210EF1F1290594EE!se7255a2035b54b8b8b74358de9ff0188"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -880,
        128
      ],
      "id": "e92bc18e-3bfa-4f30-a144-4a061ffd23d2",
      "name": "OneDrive : Fetching JD",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "ZwJvEyaQVA86sI3U",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "210EF1F1290594EE!sd26468c0829c49fea276298f9436ffdf"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -448,
        128
      ],
      "id": "c956e300-0402-44d5-b6a2-435afb365acf",
      "name": "OneDrive : Fetching Resume Folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "ZwJvEyaQVA86sI3U",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fc65db0d-8f30-43ed-8a9f-d7778e7e0259",
      "name": "OneDrive Download Resume",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "ZwJvEyaQVA86sI3U",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "patleaayushi01@gmail.com",
        "subject": "Resume Summary and Q&A Report",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        128
      ],
      "id": "afae2d56-03b8-4a2c-b1a7-7485573946c8",
      "name": "Send a message",
      "webhookId": "c32c140e-7e15-47c9-8821-a38b6cf07e49",
      "credentials": {
        "gmailOAuth2": {
          "id": "fEi4QTXY0PKqjGBO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "OneDrive : Fetching JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OneDrive Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "OneDrive : Fetching Resume Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneDrive : Fetching JD": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneDrive : Fetching Resume Folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneDrive Download Resume": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "303607b0-78d5-44a4-bb90-23f8e1e9e5b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f92396b6aeac97e03de186172161a807a91202a2d0ebbd4850e242c1dd7567be"
  },
  "id": "RGIDvUqFKqqbK1yD",
  "tags": []
}